ul {
    background-color: rgb(3, 3, 95);
    color: beige;
}
* {
    margin: 0;
    padding: 0;
}
.container {
background-color: red;
}

.bg {
    width: 294px;
    height: 789px;
    border: 2px;
    border-color: brown;
    /* background-color: blue;
    background-image: url(images/images.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    color: bisque;
    background: black fixed no-repeat url(images/images.jfif);
}