*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(254, 148, 148);
    color: aliceblue;
}
ul{
    display: inline-grid;
  grid-template-columns: 1000px  auto auto auto;
}
li {
    list-style: none;
    margin: 23px 14px;
}
li img {
  width: 45px;
  height: 45;
}

.container img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.container{
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
}
.main{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.main img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}