header{
    border: solid 1px red;
    background-color: aquamarine;
    margin: 4px;
}
.content{
    border: salmon solid 2px;
    margin: 9px;
    background-color: blue;
    box-sizing: content-box;
}
footer{
    border: black solid 2px;
    margin: 11px;
    background-color: red;
}