*{
 margin: 0;
 padding: 0;
}
header {
    background-color: black;
    color: wheat;
}
li {
    display: inline-block;
    padding: 13px 42px;
    text-decoration: none;
}

li a {
    color: wheat;
    text-decoration: none   ;
}
.left {
    background-color: red;
    height: 83vh;
  width: 50vw;
  float: left;
  visibility: hidden;
}
.right{
    background-color: green;
    height: 83vh;
    width: 50vw;
    float: right;
}
footer{
    background-color: blue;
    color: wheat;
    font-family: "Baloo Bhai 2", sans-serif;
    text-align: center;
    text-transform: uppercase;
}
/* ul {
    padding: 0;
    margin: 0;
} */

  