*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(8, 153, 244);
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    float: right;
    padding: 0 26px;
}
ul {
    padding: 32px;
    text-align: right;
}
header img {
    width: 5vw;
}
.bg-image{
    width: 100vw;
    display: flex;
    background-color: aquamarine;
}
.bg-image img{
    width: 100%;
    height: 77vh;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
