*{
    margin: 0;
    padding: 0;
}.box1{
    float: left;
    background-color: #ff0000;
    width: 20vw;
    height: 50vh;
}
.box2{
    float: right;
    width: 20vw;
    height: 50vh;
    background-color: gray;
}
.left{
    background-color: aqua;
    width: 20vw;
    height: 50vh;
}

.right{
    background-color: rgb(197, 17, 95);
    width: 20vw;
    height: 50vh;

}
.container{
    display: flex;
    justify-content: space-between;
}
header {
    background-color: blueviolet;
    color: aliceblue;
    
}
li {
    display: inline;
    padding: 12px 23 px;
}
ul{
    padding: 24px;
}